@import url('https://fonts.googleapis.com/css?family=Jura');

body {
  margin: 0;
  padding: 0;
  font-family: 'Jura', "Courier New", Courier, monospace;
  letter-spacing: 0.15em;
  background: linear-gradient(89deg, #63CE52 0%, #D8C88A 82%);
}

button{
    cursor: pointer;
}
